body {
	background-color: #111d5e;
	color: white;
	width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}
h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: Aunofa Script DEMO;
	font-size: 5rem;
	text-align: center;
}
@media (max-width: 1000px) {
	h1 {
		font-size: 10rem;
	}
}
/* snow */

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
}
